@import url(./sec2.css);
@import url(./footer.css);
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
#sec1{
    /* border: 2px solid red; */
    height: 1000px;
    width: 100%;
    background-color: black;
}
#uberlogo{
    color: white;
    /* border: 2px solid red; */
    position: absolute;
    font-size: 25px;
    top: 25px;
    left: 100px;
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;;
    list-style: none;
    cursor: pointer;
}
#list{
    color: white;
    /* border: 2px solid red; */
    list-style: none;
    display: inline-flex;
    position: absolute;
    top: 21px ;
    left: 200px;
    cursor: pointer;
    font-size: 15px;
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    /* width: 200px; */
    /* padding: 10px; */


}
#list li{

    padding: 15px;
}
#list2{
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #fff;
    /* border: 2px solid red; */
    display: inline-flex;
    list-style: none;
    position: absolute;
    top: 20px;
    left: 1100px;
    /* width: 0px; */
}
#list2 li button{
    padding:8px;
    border-radius: 18px;
    background-color: #fff;
    /* position: absolute; */
    margin-top:-10px;
}
#list2 li{
    padding: 15px;
}
#RWU img{
    /* border: 2px solid red; */
    height: 750px;
    width: 550px;
    position: absolute;
    top: 150px;
    left: 770px;
    border-radius: 10px;
}
#h1 h1{
    color: #fff;
    /* border: 2px solid red; */
    display: inline-flex;
    position: absolute;
    top: 320px;
    font-size: 50px;
    font-weight: 600;
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    left: 100px;
}
#para p{
    /* border: 2px solid red; */
    color: #fff;
    display: inline-flex;
    position: absolute;
    top: 480px;
    left: 100px;
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;

}
/* .Dot svg{
    margin-top: 550px;
    margin-left: 100px;
    z-index: 0;
    
}
.css input{
    z-index: 3;
    border: 2px solid red;
    display: block;
    background-color: #fff;
    position: relative;
    top: -35px;
    height: 50px;
    width: 400px;
    font-size: 40px;
    left: 90px;
    size: 25px;

} */
#sub-sec1 ul{
    /* border: 2px solid red; */
    list-style: none;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#sub-sec1{
    /* border: 3px solid; */
    height: inherit;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* position: absolute; */
    padding: 38px;
    /* background-color: black; */
    color: white;
}

#sub-sec1 ul{
    /* border: 2px solid red; */
    list-style: none;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sub-sec1 ul li:first-child{
    font-size: 52px;
        font-weight: 700;
        line-height: 64px;
}

#sub-sec1 ul li p{
    font-size: 18px;
    font-weight: 500;
    line-height: 50px;
}

#sub-sec1 ul li ol{
    list-style: none;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid;
    width: 380px;
    height: 50px;
    border-radius: 10px;
    background-color: white;

}
#sub-sec1 ul li ol li i{
    /* background-color: black; */
    color: black;
    /* fill: black; */
    border-radius: 50px;
    border: none;
    font-size: 8px;
    font-size:small;
    margin-bottom: 40px;
    margin-left: 4px; 
}

#sub-sec1 ul li ol li input{
    padding: 5px;
    padding-right: 130px;
    border: none;
    font-size: 18px;
    outline: none;

}
#sub-sec1 ul li ol li svg{
    font-size: 30px;
    color: black; 
    padding-right: 10px;
    border: none;
    outline: none;
    display: block;
    position: relative;
    left: -25px;
    /* border: 2px solid red; */

}
#sub-sec1 ul li div {
    border: 2px solid;
    width: 380px;
    background-color: white;
    border-radius: 9px;
}
#sub-sec1 ul li div span{
    color: black;
    font-size: 3px; 
    padding: 2px;
    border: 3px solid;
    font-weight: bolder; 
    display: inline-flex;
    /* align-items: center; */
    margin-left: 4px;
    margin-bottom: 2px;
}

#sub-sec1 ul li div input{
    padding: 10px;
    width: 359px;
    /* border-radius: 9px; */
    border: none;
    font-size: 18px;
    outline: none;
}

#sub-sec1 ul li:last-child button{
    font-size: 16px;
    padding: 14px 15px;
    font-weight: 500;
    border-radius: 7px;
    width: 120px;
}